@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Cores e fontes usadas */
:root{
    --cor-primaria:#55E5F6;
    --cor-branca: #ffffff;
    --cor-fonte-title:#4B4B4B;
    --cor-fonte-text: #646464;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color:var(--cor-background);
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
/* Nav !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
nav{
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
/* Menu */
header .menu li a{
    color: var(--cor-fonte-text);
    width: 0px;
    height: 0px;
    font-size:1.3rem;
}

header .menu li a::after{
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .9s;
}

header .menu li a:hover::after{
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid var(--cor-primaria);

}
.fa-bars {
    color: var(--cor-fonte-text);
    font-size: 2rem;
    margin-right: 40px;
}
header .menu{
    display:none;
}
header .menu.ativado{
    background: linear-gradient(rgba(255, 255, 255, 0.922), rgb(255, 255, 255) );
    position: absolute;
    display:grid;
    top: 60px;
    color: white;
    z-index: 1;
    padding: 30px;
    left: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    animation: sobreSection .8s ease-in-out forwards;
}

/* Conteudo nav esquerdo */
.nav_left{
    display: flex;
    text-align: center;
    align-items: center;
}
.nav_left > img {
    height: 60px;
    margin-right: 20px;
    text-align: center;
}
.nav_left > a {
    font-size: 1.2em;
    margin-left: 20px;
    color: var(--cor-fonte-text);
    text-decoration: none;
}
nav a:hover {
    color: #ccc;
}
/* Conteudo nav direito */
#fazer_login{
    color: var(--cor-primaria);
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    margin-left: 20px;
    background: #FFFFFF;
    border: 2px solid #55E5F6;
    border-radius: 5px;
}

#cadastrar{
    color: var(--cor-branca);
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    margin-left: 20px;
    background: var(--cor-primaria);
    border: 2px solid #55E5F6;
    border-radius: 5px;
}

/* Card de */
  .container {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../img/img-empresa01.jpg) ;
    height: 700px;
    background-size: cover;
  }
  
  
  .card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;
    height: 65%;
    margin:150px;
    margin-right: 180px;
  }
  
  h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--cor-fonte-title);
  }
  
  .label-card input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid var(--cor-fonte-text);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
  }
  
  .label-card{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .label-card input:focus{
    border-bottom: 2px solid var(--cor-fonte-text);
  }
  
  .label-card label{
    color: var(--cor-fonte-title);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
  }
  
  .label-card input:focus + label,
  .label-card input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: var(--cor-primaria);
  }
  
  #cadastrar_empresa{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    border-color: var(--cor-primaria);
    color: var(--cor-primaria);
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
  }
  
  #cadastrar_empresa:hover{
    background-color: var(--cor-primaria);
    color: #fff;
  }
  
  .fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: var(--cor-fonte-title);
  }
/* Seção 02 */
.section02{
    margin: 30px;
    width: 100%;
    justify-content: center;
}

.section02 > h2 {
    font-weight: 200;
    font-size: 38px;
    text-align: center;
    color: var(--cor-fonte-title);
    display: flex;
    margin-left: 100px;
    padding: 30px;
}

.conteudo02{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 90px;
}

.conteudo02 >p{
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 60px;
    text-align: center;
    color: var(--cor-fonte-title);
}
.conteudo02 >img{
    width: 40%;
    margin: 30px;
    padding: 30px;

}

/* footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

footer{
    background-color: #000000;
    padding: 30px;
}

footer img{
    width: 20%;
    display:flex;
    justify-content: center;
    text-align: center;
}

footer p{
    text-align: center;
    color: #fff;
    margin: 30px auto;
    font-size: 1.5rem;
    font-family: 'Poppins';
}  