/* Cores e fontes usadas */
:root{
    --cor-primaria:#55E5F6;
    --cor-branca: #ffffff;
    --cor-fonte-title:#4B4B4B;
    --cor-fonte-text: #646464;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color:var(--cor-background);
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
/* Nav !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
nav{
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
/* Conteudo nav esquerdo */
.nav_left{
    display: flex;
    text-align: center;
    align-items: center;
}
.nav_left > a >img {
    height: 60px;
    margin-right: 20px;
    text-align: center;
}
.nav_left > a {
    font-size: 1.2em;
    margin-left: 20px;
    color: var(--cor-fonte-text);
    text-decoration: none;
}
nav a:hover {
    color: #ccc;
}
/* Conteudo nav direito */
#fazer_login{
    color: var(--cor-primaria);
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    margin-left: 20px;
    background: #FFFFFF;
    border: 2px solid #55E5F6;
    border-radius: 5px;
}

#cadastrar{
    color: var(--cor-branca);
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    margin-left: 20px;
    background: var(--cor-primaria);
    border: 2px solid #55E5F6;
    border-radius: 5px;
}

/* Primeira seção !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.container01{
    margin: 30px 0px;
    padding: 40px;
    background-color: var(--cor-primaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container01 img{
    margin: 40px;
    width: 30%;
}

.container01 h1{   
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

/* Seção 02 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.container02{
    margin: 30px;
    width: 100%;
    justify-content: center;
}

.container02 > h2 {
    font-weight: 200;
    font-size: 38px;
    text-align: center;
    color: var(--cor-fonte-title);
    display: flex;
    margin-left: 100px;
    padding: 30px;
}

.conteudo02{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 90px;
}

.conteudo02 >p{
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 60px;
    text-align: center;
    color: var(--cor-fonte-title);
}
.conteudo02 >img{
    width: 40%;
    margin: 30px;
    padding: 30px;

}

/* Seção 03 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.container03{
    width: 100%;
    height: 700px;
    display: flex;
    text-align: center;
    align-items: center;
}

.container03 p{
    font-size: 2rem;
    font-weight: 400;
    padding: 100px;
    color: var(--cor-branca);
    background-color: var(--cor-primaria);
}
.container04{
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.container04 
.column01,
.column03
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.column01 span{
    display: inline-block;
    width: 60%;
    height: 30%;
    border-radius: 50%;
    background-image: url(../img/tecnologia-img-home.jpg);
    background-size: 100%;
    background-repeat: no-repeat ;
    background-position: center;
}

.column01 p{
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 60px;
    text-align: center;
    color: var(--cor-fonte-title);
    padding:20px;
}

.column02 span{
    display: inline-block;
    width: 60%;
    height: 30%;
    border-radius: 50%;
    background-image: url(../img/logo_inclui+.png);
    background-size: 100%;
    background-repeat: no-repeat ;
    
}

.column02 p{
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 60px;
    text-align: center;
    color: var(--cor-fonte-title);
    padding:20px;

}
.column03 span{
    display: inline-block;
    width: 60%;
    height: 30%;
    border-radius: 50%;
    background-image: url(../img/acordo-img-home.jpg);
    background-size: 100%;
    background-repeat: no-repeat ;
}

.column03 p{
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 60px;
    text-align: center;
    color: var(--cor-fonte-title);
    padding:20px;

}
/* footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

footer {
    background-color: black;
    padding: 20px;
    color: var(--cor-branca);
  }
  
  .footer-section img{
    width:220px;
    height: 170px;;
  }
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  .footer-section p{
    color: var(--cor-fonte-text);
  
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: var(--cor-fonte-text);
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: var(--cor-fonte-text);
  }
  